.aP{
    color: #2d6921;
    border: 3px dotted #d66f0f;
    width: 500px;
    text-decoration: double;
    padding: 20px 20px 20px 20px;
    text-align: right;
    margin-bottom: 100px;
}

.bP{
    border: 3px solid blue;
    width: 500px;
    margin: auto;
    padding: 50px 50px 50px 50px;
    font-style: italic;
}

.cP{
    width: 30%;
    border: 6px outset #666;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    line-height: 30px;
}

.dP{
    width: 75%;
    border-top: 3px solid #f0377b;
}