.ejerB{
    width: 100px;
    border: solid white 1px;
    padding: 5px;
    
}


.azul{
    background-color: blue;

}

.verde{
    background-color: green;
}
.rojo{
    background-color: red;
}
.negro{
    background-color: black;
}


