h1{
    text-align: center;
    color: blueviolet;
}

a{
    color: red;
    border: 1px solid red;
}

p, div{
    background-color: orange;
    color: white;
}

.amarillo{
    background-color: yellow;
    width: 200px;
    height: 200px;
}

#rojo{
    color: red;
}