*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(43, 43, 43);

    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

.container{

    height: 100%;
    padding: 0;
}

.cuerpo{
    width: 100%;
    height: 100%;
    margin: 0;
}

.divIzq{
  
}

.divDere img{
   
    width: 100%;
    height: 100%;
}

