*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(12, 12, 12);

    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
}

.container{

    height: 100%;
    padding: 0;
}

.cuerpo{
    width: 100%;
    height: 100%;
    margin: 0;
}

.divIzq{
    left: 50px;
    color: rgba(255, 255, 255, 0.863);

}

.divIzq p{
    color: rgba(211, 211, 211, 0.671);
}

.divDere img{
    width: 90%;
    height: 90%;
}

.tituloPagina{
    text-align: left;
    
}


