html body{
    height: 100%;
   margin: 0;
    background-color: #f5f4f4;
    
}
.contenedorPrincipal{
 
    width: 85%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 42px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 42px 8px rgba(0,0,0,0.75);
box-shadow: 0px 0px 42px 8px rgba(0,0,0,0.75);
    
   
}

.cabecera{
    display: flex;
    width: auto;
    height: 900px;

}

.cuadrado1{
    position: absolute;

}
.cabecera img{
    max-width: none;
    position: relative;
    width: 80%;
    height: 100%;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 0;
    opacity: 0.8;
}
.cabecera .menu{
    margin-top: 460px;
    margin-left: 90px;
    
   
}

/*Efectos:---------------*/
.cabecera figcaption{
    text-align: left;
    
}


/*aparecen las letras*/
.cabecera a{
    display: inline-block;
	margin: 0 0 0.25em;
    padding: 0.4em 1em;
    width: 110px;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 120%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
    transform: translate3d(-360px,0,0);
    opacity: 0;
}
/*la primera frase entra mas tarde*/
.cabecera a:first-child{
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.cabecera a:nth-last-of-type(2){
    -webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.cabecera a:nth-last-of-type(3){
    -webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.cabecera a:nth-last-of-type(4){
    -webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.cabecera a:nth-last-of-type(5){
    -webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}



/*con :hover*/
.cabecera:hover a:first-child{
    -webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.cabecera:hover a:nth-last-of-type(2){
    -webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.cabecera:hover a:nth-last-of-type(3){
    -webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cabecera:hover img{
    opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

.cabecera:hover a{
    opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*titulo*/
.titulo{
    position: absolute;
	bottom: 0;
    left: 350px;
	width: 470px;
    height: 50%;
    z-index: 1;
  
    
}

.cabecera h1{
    font-size: 60px;
    margin: 0;
    color: #101214;
    opacity: 0.9;
}
span{
    color: rgba(78, 91, 211, 0.527);
    
}
.cabecera p{
    font-size: 25px;
}

.cabecera h1,
.cabecera p{
    -webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.cabecera h1{
    
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.cabecera p{
    color: rgba(58, 55, 55, 0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.cabecera:hover p {
	opacity: 1;
}
.cabecera:hover h1,
.cabecera:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.cabecera:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


/*BODY------------------*/



.body1{
    margin-top: 200px;
    
}


.body1 img{
    width: 450px;
    margin-top: 80px;
    margin-left: 300px;
    
}

.texto1{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    margin-left: 650px;
    margin-top: -500px;
}

.texto1  p{
   margin: 50px; 
}
.texto1 h3{
    margin-top: 50px;
}
.texto1 h3,h1{
    margin-left: 50px;
}

.body1 .cuadrado2{
    width: 170px;
    height: 630px;
    background-color: #101214;
    position: absolute;
    margin-left: 170px;
    margin-top: 200px;
    z-index: -1;
    
    
}

/*---------*/

.body2{
    margin-top: 100px;
    text-align: right;
}

.body2 .cuadrado2{
    text-align: right;
    width: 170px;
    height: 630px;
    background-color: #101214;
    position: absolute;
    margin-left: 1520px;
    margin-top: 200px;
    z-index: -1;
}

.body2 img{
    text-align: right;
    width: 450px;
    margin-top: 80px;
    margin-right: 320px;
}

.texto2{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    margin-left: 700px;
    margin-top: -500px;
}

.texto2  p{
    margin: 50px; 
 }
 .texto2 h3{
     margin-top: 50px;
 }
 .texto2 h3,h1{
     margin-right: 50px;
 }

/*-----------*/

.body3{
    text-align: left;
    margin-top: 300px;
    background-color: rgba(72, 78, 84, 0.267);
}
.body3 img{
    width: 30%;
    margin: 100px;
}


.body3{
    height: auto;
  
    display: flex;
    justify-content: center;
}

.imagenesBonitas{
    width: 1600px;
    height: 800px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 90px;
    row-gap: 10px;
    column-gap: 10px;
}

.imagenesBonitas img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*PIE-----------------*/

.pie{
    background-color: #101214;
    height: 200px;
}